<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI_macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EssentialFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>EssentialFeediOSTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7226F7E72AAEC45500408EE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7260592D2A270E5800A88CA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>729D51C92A4E9E7C009CB3F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>729D51D22A4E9E7C009CB3F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72AE35A7299F9B8500A028E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72AE35B1299F9B8500A028E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72E35C4D29C0DAA300719B28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
